Build
Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.DS_Store
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/

**/*/bin
**/*/obj

*.csproj.props
*.DotSettings.user
*.generated.md

EnableUnity.txt
DisableSharedPCH.txt
Shaders/VoxelEngineVersion.ush

__pycache__/